defaults: &defaults
  host: localhost
  # persist_in_safe_mode: true
  
development:
  <<: *defaults
  host: mongo.com
  port: 20000
  username: test
  password: test
  database: robalo_dev

test:
  <<: *defaults
  database: control_test

# set these environment variables on your prod server
production:
  <<: *defaults
  host: <%= ENV['MONGOID_HOST'] %>
  port: <%= ENV['MONGOID_PORT'] %>
  database: <%= ENV['MONGOID_DATABASE'] %>
