<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Web App</title>
	<%= stylesheet_link_tag "events", :cache => true %>
</head>
<body>
  <div id="container">   
    <div id="content">
	    <div id="header">
				<h1>Eventos Ruby on Rails</h1>
	    </div>
			<div id="main">
				<h2>Coluna principal</h2>
			  <p>Dentro de main</p>
				<ul id="nav">
					<li class="um"><a href="#">Voltar para o tutorial</a></li>
					<li class="um"><a href="#">Voltar para o tutorial</a></li>
				</ul>	
			</div>
			<!-- <div id="aux">
	
			</div>		 -->
			<div class="clear"></div>
		</div>

		<div id="footer">
			<p>Rodap&eacute;</p>
		</div>
  </div>
</body>
</html>